body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #000000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
}

.menu button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.secao {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="number"], input[type="text"] {
    padding: 5px;
    width: 200px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}